/*=============== ABOUT ===============*/
.about{
   &__container{
      row-gap: 3rem;
   }
   &__data{
      text-align: center;
   }
   & .section__title,
   &__description{
      color: var(--white-color);
      margin-bottom: 1.5rem;
   }
   &__images{
      position: relative;
      display: grid;
      place-items: center;
      justify-self: center;
   }
   &__shape{
      width: 300px;
      height: 300px;
      background-color: var(--first-color);
      border-radius: 50%;
   }
   &__images img{
      position: absolute;
   }
   &__coffee{
      width: 280px;
      filter: drop-shadow(0 8px 16px hsla(166, 85%, 8%, .5));
   }
   &__leaf-1,
   &__leaf-2{
      width: 50px;
   }
   &__leaf-1{
      top: .5rem;
      left: 3.5rem;
      rotate: -105deg;
   }
   &__leaf-2{
      top: 7.75rem;
      right: 2.5rem;
      rotate: -15deg;
   }
}
