/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 330px){
   .container{
      margin-inline: 1rem;
   }

   .section__title{
      font-size: 2rem;
   }

   .home{
      &__title{
         font-size: 3.5rem;
      }
      &__shape{
         width: 250px;
         height: 250px;
      }
      &__coffee{
         width: 145px;
      }
      &__splash{
         width: 310px;
      }
      &__sticker{
         top: 25rem;
      }
   }

   .about{
      &__shape{
         width: 250px;
         height: 250px;
      }
      &__coffee{
         width: 240px;
      }
   }

   .products__container{
      grid-template-columns: 160px;
      justify-content: center;
   }

   .contact{
      &__shape{
         width: 250px;
         height: 250px;
      }
      &__delivery{
         width: 190px;
      }
   }
}

/* For medium devices */
@media screen and (min-width: 576px){
   .home__container,
   .about__container{
      grid-template-columns: 400px;
      justify-content: center;
   }

   .products__container{
      grid-template-columns: repeat(2, 160px);
      justify-content: center;
   }

   .footer__form{
      width: 360px;
   }
}

@media screen and (min-width: 768px){
   .popular__swiper{
      width: 850px;
      overflow-x: clip;
      justify-self: center;
   }

   .products__container{
      grid-template-columns: repeat(3, 160px);
   }

   .contact{
      &__container{
         justify-content: center;
      }
      &__info{
         grid-template-columns: repeat(2, 1fr);
         justify-content: center;
         column-gap: 6rem;
      }
   }

   .footer{
      &__container{
         grid-template-columns: repeat(2, 1fr);
         justify-items: center;
      }
      & div:nth-child(3){
         grid-column: 1/3;
      }
      &__title{
         text-align: center;
      }
   }
}

/* For large devices */
@media screen and (min-width: 1150px){
   .container{
      margin-inline: auto;
   }

   .section{
      padding-block: 7rem 5rem;

      &__title{
         margin-bottom: 4rem;
      }
   }

   .nav{
      height: calc(var(--header-height) + 2rem);

      &__toggle,
      &__close{
         display: none;
      }
      &__list{
         flex-direction: row;
         column-gap: 4rem;
      }
      &__link{
         font-size: var(--normal-font-size);
      }
   }

   .home{
      &__container{
         grid-template-columns: 970px;
         max-width: 970px;
         padding-top: 2.5rem;
      }
      &__images{
         transform: translate(1rem, -2rem);
      }
      &__shape{
         width: 490px;
         height: 490px;
      }
      &__coffee{
         width: 280px;
         top: -6rem;
      }
      &__splash{
         width: 615px;
         left: -5rem;
         bottom: .75rem;
      }
      &__bean-1,
      &__bean-2{
         width: 70px;
      }
      &__bean-1{
         left: 3rem;
         top: 3.5rem;
      }
      &__bean-2{
         bottom: 10.75rem;
         right: 6.5rem;
      }
      &__ice-1{
         width: 90px;
         left: 2.5rem;
         bottom: 5rem;
      }
      &__ice-2{
         width: 70px;
         top: 6.5rem;
         right: 2rem;
      }
      &__leaf{
         width: 90px;
         right: 10rem;
         bottom: -2.5rem;
      }
      &__data{
         position: absolute;
         top: 20rem;
         left: 0;
         width: 230px;
         text-align: initial;
         margin-top: 0;
      }
      &__description{
         margin-bottom: 6rem;
      }
      &__sticker{
         width: 150px;
         top: 23rem;
         right: 0;
      }
   }

   .popular{
      &__container{
         padding-bottom: 2rem;
      }
      &__swiper{
         width: 1000px;
      }
      &__card{
         width: 280px;
      }
      &__shape{
         width: 280px;
         height: 280px;
      }
      &__coffee{
         width: 185px;
         top: -2rem;
      }
      &__bean-1{
         width: 40px;
         top: 4rem;
         left: .75rem;
      }
      &__bean-2{
         width: 30px;
         right: 2.5rem;
         bottom: 2.5rem;
      }
   }

   .about{
      &__container{
         grid-template-columns: 430px 500px;
         align-items: center;
         column-gap: 6rem;
         padding-block: 2rem;
      }
      &__data,
      & .section__title{
         text-align: initial;
      }
      &__description{
         margin-bottom: 4rem;
      }
      &__shape{
         width: 500px;
         height: 500px;
      }
      &__coffee{
         width: 480px;
      }
      &__leaf-1,
      &__leaf-2{
         width: 85px;
      }
      &__leaf-1{
         top: .75rem;
         left: 6rem;
      }
      &__leaf-2{
         top: 13rem;
         right: 3.5rem;
      }
   }

   .products{
      &__container{
         grid-template-columns: repeat(3, 250px);
         gap: 5rem;
         padding-bottom: 2rem;
      }
      &__card{
         padding: 1.5rem 1rem 2rem;
      }
      &__shape{
         width: 200px;
         height: 200px;
      }
      &__coffee{
         width: 130px;
      }
      &__ice-1{
         width: 50px;
         left: .75rem;
      }
      &__ice-2{
         width: 30px;
         top: 5.5rem;
         right: 1.5rem;
      }
      &__data{
         margin-top: 1.5rem;
      }
      &__name,
      &__price{
         font-size: var(--h2-font-size);
      }
      &__button{
         right: 1rem;
         bottom: 2rem;
         width: 36px;
         height: 36px;
      }
   }

   .contact{
      & .section__title{
         font-size: var(--biggest-font-size);
      }
      &__container{
         grid-template-columns: repeat(3, max-content);
         align-items: flex-start;
         column-gap: 3rem;
      }
      &__info{
         grid-template-columns: max-content;
         row-gap: 6rem;
         margin-top: 7rem;
      }
      &__info:nth-child(2){
         order: 2;
      }
      &__title{
         font-size: var(--h2-font-size);
         margin-bottom: 1rem;
      }
      &__social{
         column-gap: 1.5rem;
      }
      &__images{
         margin-top: 0;
      }
      &__shape{
         width: 500px;
         height: 500px;
      }
      &__delivery{
         width: 380px;
         top: -3.5rem;
      }
   }

   .footer{
      &__container{
         grid-template-columns: repeat(3, 1fr);

         & div:nth-child(3){
            grid-column: initial;
         }
         & div:nth-child(2){
            order: 1;
            justify-self: end;
         }
         & div:nth-child(1){
            justify-self: start;
         }
      }
      &__social,
      &__pay{
         margin-inline: auto;
         justify-content: center;
      }
      &__copy{
         margin-top: 5rem;
      }
   }

   .scrollup{
      right: 3rem;
   }
}

/* For 2K resolutions (2048 x 1152, 2048 x 1536) */
@media screen and (min-width: 2048px){
   body{
      zoom: 1.3;
   }
}
