/*=============== BUTTON ===============*/
.button{
   display: inline-flex;
   justify-content: center;
   background-color: var(--first-color);
   color: var(--white-color);
   padding: 1rem 2rem;
   font-weight: var(--font-semi-bold);
   transition: background-color .4s, box-shadow .4s;
   
   &:hover{
      background-color: var(--first-color-alt);
      box-shadow: 0 8px 24px hsla(166, 85%, 8%, .2);
   }

   &-dark{
      background-color: var(--dark-color);

      &:hover{
         background-color: var(--dark-color);
      }
   }
}
