/*=============== CONTACT ===============*/
.contact{
   & .section__title{
      color: var(--white-color);
   }
   &__container,
   &__info{
      row-gap: 2rem;
   }
   &__info{
      color: var(--white-color);
      text-align: center;
   }
   &__title{
      font-size: var(--h1-font-size);
      margin-bottom: .5rem;
   }
   &__social{
      display: flex;
      justify-content: center;
      column-gap: 1rem;

      &-link{
         font-size: 1.5rem;
         color: var(--first-color);
         transition: transform .4s;

         &:hover{
            transform: translateY(-.25rem);
         }
      }
   }
   &__address{
      font-style: normal;
   }
   &__map{
      color: var(--first-color);
      display: inline-flex;
      align-items: center;
      column-gap: .5rem;
      margin-top: .5rem;
      font-size: 1rem;

      & span{
         font-size: var(--small-font-size);
         font-weight: var(--font-semi-bold);
      }
   }
   &__images{
      position: relative;
      display: grid;
      justify-items: center;
      margin-top: 3rem;
   }
   &__shape{
      width: 300px;
      height: 300px;
      background-color: var(--first-color);
      border-radius: 50%;
   }
   &__delivery{
      width: 230px;
      position: absolute;
      top: -2.5rem;
      mask-image: linear-gradient(to bottom, 
                  var(--first-color) 80%, 
                  transparent 100%);
   }
}
