/*=============== FOOTER ===============*/
.footer{
   background-color: var(--body-first-color);
   padding-block: 4rem 2rem;

   &__container{
      row-gap: 3rem;
   }
   &__title{
      font-size: var(--h2-font-size);
      color: var(--dark-color);
      margin-bottom: 1rem;
   }
   &__social,
   &__pay,
   &__form{
      display: flex;
      column-gap: 1rem;
   }
   &__social-link{
      font-size: 1.5rem;
      color: var(--dark-color);
      transition: transform .4s;

      &:hover{
         transform: translateY(-.25rem);
      }
   }
   &__pay-card{
      width: 30px;
   }
   &__form{
      background-color: var(--dark-color);
      padding: .5rem;
   }
   &__input{
      width: 100%;
      background: transparent;
      padding-left: .75rem;
      color: var(--white-color);
      font-weight: var(--font-semi-bold);

      &::placeholder{
         color: var(--white-color);
      }
   }
   &__button{
      padding: .75rem 1.5rem;
      color: var(--dark-color);
      cursor: pointer;
   }
   &__copy{
      display: block;
      margin-top: 4rem;
      color: var(--dark-color);
      text-align: center;
      font-size: var(--small-font-size);
   }
}
