/*=============== HEADER & NAV ===============*/
.header{
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   background-color: var(--body-color);
   z-index: var(--z-fixed);
   transition: box-sahdow .4s;
}

.nav{
   position: relative;
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__logo{
      color: var(--white-color);
      font-family: var(--second-font);
      font-weight: var(--font-semi-bold);
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
   &__toggle,
   &__close{
      display: flex;
      color: var(--white-color);
      font-size: 1.5rem;
      cursor: pointer;
   }
   // Navigation for mobile devices
   &__menu{
      @media screen and (max-width: 1150px){
         position: fixed;
         top: -120%;
         left: 0;
         background-color: var(--body-color);
         width: 100%;
         padding-block: 4rem;
         box-shadow: 0 8px 16px hsla(166, 85%, 8%, .3);
         transition: top .4s;
      }
   }
   &__list{
      text-align: center;
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
   }
   &__link{
      color: var(--white-color);
      font: var(--font-medium) var(--h1-font-size) var(--second-font);
      line-height: 110%;
      transition: color .4s;

      &:hover{
         color: var(--first-color);
      }
   }
   &__close{
      position: absolute;
      top: 1rem;
      right: 1.5rem;
   }
}

/* Show menu */
.show-menu{
   top: 0;
}

/* Add shadow header */
.shadow-header{
   box-shadow: 0 4px 16px hsla(166, 85%, 8%, .3);
}

/* Active link */
.active-link{
   color: var(--first-color);
}
