/*=============== PRODUCTS ===============*/
.products{
   background-color: var(--body-first-color);

   & .section__title{
      color: var(--dark-color);
   }
   &__container{
      grid-template-columns: repeat(2, 1fr);
   }
   &__card{
      position: relative;
      background-color: var(--dark-color);
      padding: 1rem .5rem 1.25rem;
   }
   &__images{
      position: relative;
      display: grid;
      justify-items: center;
      justify-self: center;
   }
   &__shape{
      width: 120px;
      height: 120px;
      background-color: var(--first-color);
      border-radius: 50%;
      clip-path: inset(50% 0 0 0);
   }
   &__images img{
      position: absolute;
   }
   &__coffee{
      width: 80px;
      top: 0;
      transition: transform .4s;
   }
   &__ice-1{
      width: 30px;
      left: .5rem;
      bottom: 0;
      transition: transform .5s .1s;
   }
   &__ice-2{
      width: 20px;
      top: 3.25rem;
      right: .75rem;
      rotate: 60deg;
      transition: transform .5s .1s;
   }
   &__data{
      margin-top: 1.25rem;
   }
   &__name{
      color: var(--white-color);
      font-size: var(--h3-font-size);
      margin-bottom: .75rem;
   }
   &__price{
      color: var(--first-color);
      font-size: var(--h3-font-size);
      font-weight: var(--font-medium);
   }
   &__button{
      position: absolute;
      right: .5rem;
      bottom: 1.25rem;
      width: 32px;
      height: 32px;
      background-color: var(--first-color);
      color: var(--dark-color);
      font-size: 1.5rem;
      border-radius: 50%;
      box-shadow: 0 4px 8px hsla(166, 85%, 8%, .4);
      display: grid;
      place-items: center;
      cursor: pointer;
   }
   &__card:hover &__coffee{
      transform: translateY(-.25rem);
   }
   &__card:hover &__ice-1{
      transform: translate(-.25rem, .25rem);
   }
   &__card:hover &__ice-2{
      transform: translate(-.5rem, -.5rem);
   }
}
