/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
   width: .6rem;
   background-color: hsl(166, 20%, 30%);
   
   &-thumb{
      background-color: hsl(166, 20%, 40%);

      &:hover{
         background-color: hsl(166, 20%, 50%);
      }
   }
}

/*=============== SCROLL UP ===============*/
.scrollup{
   position: fixed;
   right: 1rem;
   bottom: -50%;
   background-color: var(--body-color);
   box-shadow: 0 4px 8px hsla(166, 85%, 8%, .4);
   color: var(--white-color);
   display: inline-flex;
   padding: 6px;
   font-size: 1.25rem;
   z-index: var(--z-tooltip);
   transition: bottom .4s, transform .4s;

   &:hover{
      transform: translateY(-.5rem);
   }
}

/* Show Scroll Up */
.show-scroll{
   bottom: 3rem;
}
